body {
  background-color: grey;
}
/* menu-common*/
.menu {
  background-color: #ffffff;
}
.menu svg {
  display: inline-block;
}
.menu .container {
  max-width: 1400px;
  margin: auto;
  padding: 0 16px;
}
.menu .pointer {
  cursor: pointer;
}
.menu .flex {
  display: flex;
  flex-wrap: nowrap;
}
.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .menu .container {
    padding: 0 14px;
  }
}

@media only screen and (max-width: 768px) {
  .menu .container {
    padding: 0 12px;
  }
}

@media only screen and (max-width: 640px) {
  .menu .container {
    padding: 0 8px;
  }
}
