/* drawer */
.menu .menu-drawer {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100%;
  transition-duration: 400ms;
}
.menu .menu-drawer * {
  font-weight: 400;
}
.menu .menu-drawer .drawer {
  overflow: hidden;
}
.menu .menu-drawer.show {
  z-index: 10;
  opacity: 1;
}
.menu .menu-drawer .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: ease;
  transition-duration: 400ms;
}
.menu .menu-drawer.show .bg {
  opacity: 0.6;
}
.menu .menu-drawer .drawer {
  position: relative;
  background-color: #ffffff;
  top: 0;
  left: -320px;
  height: 100%;
  width: 100%;
  max-width: 320px;
  transition: ease-in-out;
  transition-duration: 400ms;
}
.menu .menu-drawer .cancel-btn {
  padding: 10px;
}

.menu .menu-drawer.show .drawer {
  left: 0;
}
.menu .menu-drawer .drawer-header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu .menu-drawer .arrow.left {
  display: flex;
  align-self: center;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.menu .menu-drawer .arrow.left:hover {
  background-color: #f0f0f0;
}
.menu .menu-drawer .drawer-body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transition: ease;
  transition-duration: 600ms;
}

.menu .menu-drawer .drawer-body.sub-2 {
  left: -100%;
}
.menu .menu-drawer .drawer-body.sub-3 {
  left: -200%;
}

.menu .menu-drawer .nav {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: ease;
  transition-duration: 600ms;
}
.menu .menu-drawer .nav.sub-1 {
  left: 0;
  opacity: 1;
}
.menu .menu-drawer .nav.sub-2 {
  left: 100%;
}
.menu .drawer-body.sub-2 .nav.sub-2 {
  opacity: 1;
}
.menu .menu-drawer .nav.sub-3 {
  z-index: -1;
  left: 200%;
}
.menu .drawer-body.sub-3-1 .nav.sub-3-1,
.menu .drawer-body.sub-3-2 .nav.sub-3-2,
.menu .drawer-body.sub-3-3 .nav.sub-3-3 {
  z-index: 10;
  opacity: 1;
}

.menu .menu-drawer .nav > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.menu .menu-drawer .nav > .title {
  justify-content: start;
  gap: 10px;
  padding: 10px 20px;
}
.menu .menu-drawer .nav > *:not(.title):hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
