/* menu-footer*/
.menu .menu-footer {
  text-transform: uppercase;
  padding: 22px;
  font-size: 13px;
  border-top: 1px solid #e5e5e5;
  justify-content: center;
  align-items: center;
}
.menu .menu-footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
}
.menu .menu-footer a:not(.menu .menu-footer a:first-child)::before {
  content: "";
  margin: 0 25px;
  border-right: 1px solid #e5e5e5;
}

@media only screen and (max-width: 1024px) {
  .menu .menu-footer a:not(.menu .menu-footer a:first-child)::before {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .menu .menu-footer {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
}
